@import url('https://fonts.googleapis.com/css?family=Merriweather');
input[type=text],
input[type=email],
input[type=number],
textarea,
fieldset {
/* required to properly style form 
   elements on WebKit based browsers */
  -webkit-appearance: none;
  
  width : 100%;
  border: 1px solid #333;
  margin: 0;
  
  font-family: inherit;
  font-size: 90%;
  
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 35px;
}

.clearfix::after {
    content: ' ';
    clear: both;
    display: block;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

#container {
    width: 960px;
    height: 800px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#contact-form {
    width: 960px;
    height: 600px;
    margin-top: 50px;
    background-color: #F5F5F5;
    box-shadow: 0 0 2px;
}

.confirmation {
    width: 960px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: #029607;
    color: white;    
    font: bold 18px Arial;
}

.confirmation button {
    margin-top: -23px;
    float: right;
    text-align: center;
    font: bold 20px Arial;
    background-color: #029607;
    border: none;
    cursor: pointer;
}

.confirmation button:focus {
    outline: none;
}

img {
    box-shadow: 0 0 3px;
}

h1 {
    font-family: Merriweather, serif;
    color: #0c408f;
    text-align: center;
    margin: 10px;
}

h4 {
    font-family: Merriweather, serif;
    margin-top: 10px;
    margin-left: 125px;
}

h5 {
    font-family: Merriweather, serif;
    margin-top: -17px;
    margin-left: 192px;
    color: red;   
}

form {
    width: 600px;
}

input[type=text],
input[type=email] {
    padding: 5px;
    width: 350px;
    margin: 15px 125px;
    border-radius: 8px;
}

input:focus,
textarea:focus {
    outline:none;
}

input[type=radio] {
    margin: 5px 5px 0 180px;
}

textarea {
    margin-left: 125px;
    margin-top: 25px;
    width: 350px;
    height: 150px;
    padding: 10px;
    resize: none;
    border-radius: 8px;
}

input[type=submit] {
    margin-left: 250px;
    margin-top: 25px;
    padding: 12px 20px;
    background-color: #0c408f;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

input[type=submit]:hover {
    opacity: 0.9;
}
